{% extends '__base.html' %}

{%block title %}Lista de usuarios{% endblock %}

{% block profiles_menu %}
<ul>
    <li><a href="{% url 'profiles:user_list' %}">Usuarios</a></li>
    <li><a href="{% url 'profiles:client_list' %}">Clientes</a></li>
    <li><a href="{% url 'profiles:supplier_list' %}">Proveedores</a></li>
    <li><a href="{% url 'profiles:workertime_lastweek' %}">Control de tiempo</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'profiles:workertime_create' %}">Pre-registro</a></li>
    {% endif %}
</ul>
{% endblock%}

{% block content %}
{% load static %}

<table class="project-table">
    <thead class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Rol</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    {% for user in users_list %}
    <tr>
        <td scope="row">{{user.pk}}</td>
        <td scope="row">{{user.first_name}}</td>
        <td scope="row">{{user.last_name}}</td>
        <td scope="row">{{user.groups.all.0}}</td>
        <td scope="row">
            <a href="{% url 'profiles:user_detail' user.pk %}">
                <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" />
            </a>
            {% if perms.finances.change_movement %}
            <a href="{% url 'profiles:user_update' user.pk %}">
                <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/>
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr><td colspan="5"></td></tr>
    <tr>
        <td colspan="5"><a class="button" href="{% url 'profiles:user_create' %}">Nuevo usuario</a>
        <a class="button" href="{% url 'profiles:worker_create' %}">Nuevo trabajador</a></td>
    </tr>
</table>
{% endblock %}