{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS CUSTOM -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>inxcontrol | {% block title %}{% endblock %}</title>
    <script src="{% static 'js/mainmenu.js' %}"></script>
    {% block scripts %}{% endblock %}
</head>

<body>

    {% comment %} <div class="topnav" id="myTopnav">
        <a href="#home" class="active">INX-CONTROL</a>
        <a href="{% url 'profiles:user_list' %}">Perfiles</a>
        <a href="{% url 'finances:finances_home' %}">Finanzas</a>
        <a href="{% url 'projects:project_list' %}">Proyectos</a>
        <a href="{% url 'sales:report_list' %}">Ventas</a>
        {% if perms.sales.change_report %}
            <a href="{% url 'sales:report_create' %}">Reporte</a>
        {% else %}
            <a href="{% url 'projects:report_create' %}">Reporte</a>
        {% endif %}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars">menu</i>
        </a>
      </div> {% endcomment %}

    <!-- The sidebar -->
    <div class="sidebar" id="mySidebar">
        <a href="javascript:void(0);" class="active" onclick="myFunction()">INX-CONTROL</a>
        {% if user.is_authenticated %}
        <a href="{% url 'profiles:user_list' %}">Perfiles</a>
        {% block profiles_menu %}{% endblock%}
        <a href="{% url 'finances:finances_home' %}">Finanzas</a>
        {% block finances_menu %}{% endblock%}
        <a href="{% url 'projects:project_list' %}">Proyectos</a>
        {% block projects_menu %}{% endblock%}
        <a href="{% url 'sales:report_list' %}">Ventas</a>
        {% block sales_menu %}{% endblock%}
        {% if perms.sales.change_report %}
            <a href="{% url 'sales:report_create' %}">Reporte</a>
        {% else %}
            <a href="{% url 'projects:report_create' %}">Reporte</a>
        {% endif %}
        <form method=POST action={% url 'projects:all_search' %}>
            {% csrf_token %}
            <input class="searchbar"
            type="search"
            placeholder="Buscar"
            aria-label="Search"
            name="valuesearch">
            <button class="button" type="submit">Buscar</button>
        </form>
        {% else %}
        <a href="{% url 'profiles:login' %}">Iniciar sesión</a>
        {% endif %}
    </div>

<div class="content">
{% block content %}
{% endblock %}
</div>
{% comment %} <div class="footer">
    <div class="sitemap">
        <div>
            <h5>
                Mapa del sitio
            </h5>
            <ul>
                <li><h4>Perfiles</h4></li>
                <li><a href="{% url 'profiles:user_list' %}">Usuarios</a></li>
                <li><a href="{% url 'profiles:client_list' %}">Clientes</a></li>
                <li><a href="{% url 'profiles:supplier_list' %}">Proveedores</a></li>
                <li><a href="{% url 'profiles:workertime_lastweek' %}">Control de tiempo</a></li>
                {% if perms.finances.change_movement %}
                <li><a href="{% url 'profiles:workertime_create' %}">Pre-registro</a></li>
                {% endif %}
            </ul>
            <ul>
                <li><h4>Finanzas</h4></li>
                <li><a href="{% url 'finances:finances_home' %}">Movimientos</a></li>
                <li><a href="{% url 'finances:order_list' %}">Ordenes de compra</a></li>
                {% if perms.finances.change_movement %}
                <li><a href="{% url 'finances:finances_resume' %}">Resumen</a></li>
                <li><a href="{% url 'finances:attendance_form' %}">Asistencia</a></li>
                <li><a href="{% url 'finances:workerstime_list' %}">Horas-proyecto</a></li> 
                {% endif %}
            </ul>
            <ul>
                <li><h4>Proyectos</h4></li>
                <li><a href="{% url 'projects:project_list' %}">Proyectos</a></li>
                <li><a href="{% url 'projects:activity_list' %}">Actividades</a></li>
                <li><a href="{% url 'projects:requirement_list' %}?status=0">Requerimientos</a></li>
                <li><a href="{% url 'projects:report_list' %}">Reportes</a></li>
                <li><a class="button" href="{% url 'projects:report_create' %}">Nuevo Reporte</a></li>
            </ul>
            {% if perms.sales.change_report %}
            <ul>
                <li><h4>Ventas</h4></li>
                <li><a href="{% url 'sales:report_list' %}">Reportes</a></li>
                <li><a href="{% url 'sales:report_create' %}">Nuevo reporte</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</div> {% endcomment %}

</body>