{% extends '__base.html' %}

{% block title %}
    Resultados
{% endblock title %}

{% block content %}
{% load static %}
<h2>Resultados</h2>
<p>Resultados para "{{ searched }}"
<h5>Proyectos (en el nombre):</h5>
<div class="searchlist">
<ul>
{% for project in projects %}
<li>
    <a href="{% url 'projects:project_detail' project.pk %}">
        <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" /></a>
    {{ project.name }}
</li>
{% endfor %}
</ul>

<h5>Actividades (en el nombre):</h5>
<ul>
{% for activity in activities %}
<li>
    <a href="{% url 'projects:activity_detail' activity.pk %}">
        <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" /></a>
    {{ activity.name }}
</li>
{% endfor %}
</ul>

<h5>Reportes (en descripcion):</h5>
<ul>
{% for report in reports %}
<li>
    <a href="{% url 'projects:report_detail' report.pk %}">
        <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" /></a>
    {{ report.name }}
</li>
{% endfor %}
</ul>
</div>
{% endblock content %}