{% extends '__base.html' %}

{%block title %}Lista de clientes{% endblock %}

{% block profiles_menu %}
<ul>
    <li><a href="{% url 'profiles:user_list' %}">Usuarios</a></li>
    <li><a href="{% url 'profiles:client_list' %}">Clientes</a></li>
    <li><a href="{% url 'profiles:supplier_list' %}">Proveedores</a></li>
    <li><a href="{% url 'profiles:workertime_lastweek' %}">Control de tiempo</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'profiles:workertime_create' %}">Pre-registro</a></li>
    {% endif %}
</ul>
{% endblock%}

{% block content %}
{% load static %}
<table class="project-table">
    <thead class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Cliente</th>
            <th scope="col">Estado</th>
            <th scope="col">Proy</th>
            <th scope="col">Calificación</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    {% for client in client_list %}
    <tr>
        <td scope="row">{{client.pk}}</td>
        <td scope="row">{{client}}</td>
        <td scope="row">{{client.get_status_display}}</td>
        <td scope="row">{{client.active_projects}} de {{ client.all_projects }}</td>
        <td scope="row">{{client.score}}</td>
        <td scope="row">
            <a href="{% url 'profiles:client_detail' client.pk %}">
                <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" /></a>
            <a href="{% url 'profiles:client_update' client.pk %}">
                <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/></a>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="5"><a class="button" href="{% url 'profiles:clientcontact_list' %}">Contactos de clientes</a></td>
    </tr>
    <tr>
        <td colspan="5"><a class="button" href="{% url 'profiles:client_create' %}">Nuevo cliente</a>
        </td>
    </tr>
</table>
{% endblock %}