{% extends '__base.html' %}
{% load static %}
{%block title %}Detalle de cliente{% endblock %}

{% block profiles_menu %}
<ul>
    <li><a href="{% url 'profiles:user_list' %}">Usuarios</a></li>
    <li><a href="{% url 'profiles:client_list' %}">Clientes</a></li>
    <li><a href="{% url 'profiles:supplier_list' %}">Proveedores</a></li>
    <li><a href="{% url 'profiles:workertime_lastweek' %}">Control de tiempo</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'profiles:workertime_create' %}">Pre-registro</a></li>
    {% endif %}
</ul>
{% endblock%}

{% block content %}
<ul>
    <li>ID: {{ client.pk }}</li>
    <li>Nombre: {{ client.name }}</li>
    <li>Estado: {{ client.get_status_display }}</li>
    <li>Calificacion: {{ client.score }}</li>
    <li>Contactos:
        <ul>
            {% for contact in client.clientcontact_set.all %}
            <li>{{ contact }} | tel: {{ contact.phone }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>
<table class="project-table">
    <thead>
        <tr>
            <th>Proyectos Activos</th>
        </tr>
    </thead>
    {% comment %}
    Get all active projects related to this client and show them
    {% endcomment %}
    
    {% for project in client.project_client.all %}
    {% if project.status == 0 %}
        <tr>
            <td>
                {{ project.name }}
                <a href="{% url 'projects:project_detail' project.id %}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" />
                </a>
            </td>
        </tr>
    {% endif %}
    {% endfor %}
</table>

<a class="button" href="{% url 'profiles:clientcontact_create' %}?client={{client.pk}}">Agregar contacto</a>
<a class="button" href="{% url 'profiles:client_update' client.pk %}">Editar</a>
{% endblock %}