{% extends '__base.html' %}

{%block title %}Lista de contactos{% endblock %}

{% block profiles_menu %}
<ul>
    <li><a href="{% url 'profiles:user_list' %}">Usuarios</a></li>
    <li><a href="{% url 'profiles:client_list' %}">Clientes</a></li>
    <li><a href="{% url 'profiles:supplier_list' %}">Proveedores</a></li>
    <li><a href="{% url 'profiles:workertime_lastweek' %}">Control de tiempo</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'profiles:workertime_create' %}">Pre-registro</a></li>
    {% endif %}
</ul>
{% endblock%}

{% block content %}
<table class="project-table">
    <thead class="table">
        <tr>
            <th scope="col">Contacto</th>
            <th scope="col">Cliente</th>
        </tr>
    </thead>
    {% for contact in clientcontact_list %}
    <tr>
        <td scope="row"><a href = "{% url 'profiles:clientcontact_detail' contact.pk %}">{{contact}}</a></td>
        <td scope="row">{{contact.client}} </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2"><a href="{% url 'profiles:clientcontact_create' %}">Crear contacto</a></td>
    </tr>
</table>

{% endblock %}