{% extends '__base.html' %}

{%block title %}Lista de proveedores{% endblock %}

{% block profiles_menu %}
<ul>
    <li><a href="{% url 'profiles:user_list' %}">Usuarios</a></li>
    <li><a href="{% url 'profiles:client_list' %}">Clientes</a></li>
    <li><a href="{% url 'profiles:supplier_list' %}">Proveedores</a></li>
    <li><a href="{% url 'profiles:workertime_lastweek' %}">Control de tiempo</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'profiles:workertime_create' %}">Pre-registro</a></li>
    {% endif %}
</ul>
{% endblock%}

{% block content %}
{% load static %}
<div class="resp-table">
    <div class="resp-table-header">
        <div class="table-header-cell">ID</div>
        <div class="table-header-cell">Proveedor</div>
        <div class="table-header-cell">Categoria</div>
        <div class="table-header-cell">Acciones</div>
    </div>
    <div class="resp-table-body">
        {% for supplier in supplier_list %}
        <div class="resp-table-row">
            <div class="table-body-id-cell">{{supplier.pk}}</div>
            <div class="table-body-cell">{{supplier}}</div>
            <div class="table-body-cell">{{supplier.category}}</div>
            <div class="table-body-action-cell">
                <a href="{% url 'profiles:supplier_detail' supplier.pk %}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" /></a>
                <a href="{% url 'profiles:supplier_update' supplier.pk %}">
                    <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="action-buttons">
    <a class="button" href="{% url 'profiles:supplier_create' %}">Nuevo proveedor</a>
    <a class="button" href="{% url 'profiles:suppliercontact_list' %}">Contactos de proveedores</a>
    <a class="button" href="{% url 'profiles:suppliercategory_create' %}">Nueva categoria</a>
</div>

{% endblock %}