{% extends '__base.html' %}

{%block title %}Detalle de contacto{% endblock %}

{% block profiles_menu %}
<ul>
    <li><a href="{% url 'profiles:user_list' %}">Usuarios</a></li>
    <li><a href="{% url 'profiles:client_list' %}">Clientes</a></li>
    <li><a href="{% url 'profiles:supplier_list' %}">Proveedores</a></li>
    <li><a href="{% url 'profiles:workertime_lastweek' %}">Control de tiempo</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'profiles:workertime_create' %}">Pre-registro</a></li>
    {% endif %}
</ul>
{% endblock%}

{% block content %}
<p>
{{ suppliercontact.pk }}
</p>
<p>
{{ suppliercontact.name }}
</p>
<p>
{{ suppliercontact.phone }}
</p>
<p>
{{ suppliercontact.supplier }}
</p>
<p>
{{ suppliercontact.notes }}
</p>
<a href="{% url 'profiles:suppliercontact_update' suppliercontact.pk %}">editar</a>
{% endblock %}