{% extends '__base.html' %}

{%block title %}Detalle de proveedor{% endblock %}

{% block profiles_menu %}
<ul>
    <li><a href="{% url 'profiles:user_list' %}">Usuarios</a></li>
    <li><a href="{% url 'profiles:client_list' %}">Clientes</a></li>
    <li><a href="{% url 'profiles:supplier_list' %}">Proveedores</a></li>
    <li><a href="{% url 'profiles:workertime_lastweek' %}">Control de tiempo</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'profiles:workertime_create' %}">Pre-registro</a></li>
    {% endif %}
</ul>
{% endblock%}

{% block content %}
<table class="project-table">
    <tr>
        <td>ID:</td>
        <td>{{ supplier.pk }}</td>
    </tr>
    <tr>
        <td>Nombre:</td>
        <td>{{ supplier.name }}</td>
    </tr>
    <tr>
        <td colspan="2">Contactos del proveedor</td>
    </tr>
    <tr>        <td colspan="2">
            <table class="project-table">
                {% for contact in supplier.suppliercontact_set.all %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.phone }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>

<a class="button" href="{% url 'profiles:suppliercontact_create' %}">agregar contacto</a> |
<a class="button" href="{% url 'profiles:supplier_update' supplier.pk %}">editar</a>
{% endblock %}