{% extends '__base.html' %}

{%block title %}Registros de tiempo{% endblock %}

{% block profiles_menu %}
<ul>
    <li><a href="{% url 'profiles:user_list' %}">Usuarios</a></li>
    <li><a href="{% url 'profiles:client_list' %}">Clientes</a></li>
    <li><a href="{% url 'profiles:supplier_list' %}">Proveedores</a></li>
    <li><a href="{% url 'profiles:workertime_lastweek' %}">Control de tiempo</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'profiles:workertime_create' %}">Pre-registro</a></li>
    {% endif %}
</ul>
{% endblock%}

{% block content %}
{% load static %}

<h2>
    Reportes faltantes desde {{ inicio }} hasta {{ final }}
</h2>

{% for at in attendance_list %}
<ul>
    <li>
        {{at.workdate}}
        <ul>
        {% for u in at.worker.all %}
            <li>
                {{u.last_name}}, {{u.first_name  }} | {{at.client.name}}
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>
{% endfor %}

<table class="project-table">
    <thead>
        <tr>
            <th scope="col">
                Nombre
            </th>
            {% for each_day in days %}
            <th scope="col" class="colincl">
                <a href="{% url 'projects:report_dayarchive' each_day|date:'Y' each_day|date:'b' each_day|date:'d' %}">
                    {{ each_day|date:'Y-b-d' }}
                </a>
            </th>
            {% endfor %}
        </tr>
    </thead>
    {% for user in calendar %}
    <tr>
        <th scope="row">{{user.user.last_name}} {{user.user.first_name}}</th>
        {% for day in user.hours %}
        <td scope="row" {% if day == -1 %}class="negative"{% endif %}  >
        {% if day > 0 %}
            {{day|floatformat}}
        {% elif day == -1 %}
            [ F ]
        {% else %}
             - - 
        {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>


        {% if previous_week %}
        <a class="button" href="{% url 'profiles:workerattendance_week' previous_week|date:'Y' previous_week|date:'W' %}">
            Año: {{ previous_week|date:'Y' }} Semana: {{ previous_week|date:'W' }}
        </a>
        {% endif %}
        {% if next_week %}
        <a class="button" href="{% url 'profiles:workerattendance_week' next_week|date:'Y' next_week|date:'W' %}">
        Año: {{ next_week|date:'Y' }} Semana: {{ next_week|date:'W' }}
        </a>
        {% endif %}
{% endblock %}