{% extends '__base.html' %}
{% load finance_extra %}

{% block title %}
    Lista de asistencia
{% endblock title %}

{% block finances_menu %}
<ul>
    <li><a href="{% url 'finances:finances_home' %}">Movimientos</a></li>
    <li><a href="{% url 'finances:order_list' %}">OC's</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'finances:finances_resume' %}">Resumen</a></li>
    <li><a href="{% url 'finances:attendance_form' %}">Asistencia</a></li>
    <li><a href="{% url 'finances:workerstime_list' %}">Horas-proyecto</a></li> 
    {% endif %}
</ul>
{% endblock %}

{% block content %}

<div class="col col-lg-3">
    <form method="post">
        {% csrf_token %}
        {{form.as_table}}
        <input class="btn btn-primary mb-3" type="submit" value="Actualizar">
    </form>
</div>

<h2>
Resultado
</h2>
{% if inicio %}
<h2>
desde {{ inicio }} hasta {{ final }}
</h2>


<table class="project-table">
    <thead>
        <tr>
            <th scope="col">
                Nombre
            </th>
            {% for each_day in days %}
            <th scope="col" class="colincl">
                <a href="{% url 'projects:report_dayarchive' each_day|date:'Y' each_day|date:'b' each_day|date:'d' %}">
                    {{ each_day|date:'Y-b-d' }}
                </a>
            </th>
            {% endfor %}
        </tr>
    </thead>
    {% for user in calendar %}
    <tr>
        <th scope="row">{{user.user.last_name}} {{user.user.first_name}}</th>
        {% for day in user.hours %}
        <td scope="row">
        {% if day > 0 %}
            {{day|floatformat}}
        {% else %}
             - - 
        {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>
Ingrece un rango de fechas
</h2>
{% endif %}
{% endblock content %}