{% extends '__base.html' %}
{% load finance_extra %}

{% block title %}
    Movimientos mensuales
{% endblock title %}

{% block finances_menu %}
<ul>
    <li><a href="{% url 'finances:finances_home' %}">Movimientos</a></li>
    <li><a href="{% url 'finances:order_list' %}">OC's</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'finances:finances_resume' %}">Resumen</a></li>
    <li><a href="{% url 'finances:attendance_form' %}">Asistencia</a></li>
    <li><a href="{% url 'finances:workerstime_list' %}">Horas-proyecto</a></li> 
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="col col-lg-9">
    <h2>Balance del mes {{ month|date:'b' }}</h2>
    <p>
        Total facturable: <b>${{total_fact|stringformat:"2.2f"}}</b>
    </p>
    <p>
        Total no facturable: <b>${{total_no_fact|stringformat:"2.2f"}}</b>
    </p>

    <h2>Movimientos facturables</h2>
    <table class="project-table">
        <thead>
            <tr>
                <th scope="col">
                    {% if '?order_by=payee' in request.get_full_path %}
                    <a href="{% url 'finances:finances_month' month|date:'Y' month|date:'m' %}?order_by=-payee">
                    {% else %}
                    <a href="{% url 'finances:finances_month' month|date:'Y' month|date:'m' %}?order_by=payee">
                    {% endif %}
                        Proveedor
                    </a>
                </th>
                <th scope="col">
                    {% if '?order_by=-creation_date' in request.get_full_path %}
                    <a href="{% url 'finances:finances_month' month|date:'Y' month|date:'m' %}">
                    {% else %}
                    <a href="{% url 'finances:finances_month' month|date:'Y' month|date:'m' %}?order_by=-creation_date">
                    {% endif %}
                        Día
                    </a>
                </th>
                <th scope="col">Descripción</th>
                <th scope="col">
                    {% if '?order_by=amount' in request.get_full_path %}
                    <a href="{% url 'finances:finances_month' month|date:'Y' month|date:'m' %}?order_by=-amount">
                    {% else %}
                    <a href="{% url 'finances:finances_month' month|date:'Y' month|date:'m' %}?order_by=amount">
                    {% endif %}
                        Monto
                    </a>
                </th>
                <th scope="col">Pago</th>
                <th scope="col">Archivo</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        {% for reg in invoice %}
        <tr {% if reg.amount < 0 %}
        class="negative"
        {% endif %}>
            <td scope="col">{{ reg.payee }}</td>
            <td scope="col">{{ reg.creation_date|date:"d" }}</td>
            {% if reg.description|wordcount > 10 %}
            <td scope="col" title="{{ reg.description }}">
                    {{ reg.description|truncatewords:'10' }}
            </td>
            {% else %}
            <td scope="col">{{ reg.description }}</td>
            {% endif %}
            <td scope="col">{{ reg.amount|stringformat:"2.2f" }}</td>
            <td scope="col">
                {% if reg.payment %}
                    &#9745; 
                {% else %}
                    &#9744;
                {% endif %}
            <td scope="col">
                {% if reg.files %}
                <a href="{{ reg.files.url }}">{{reg.files|filename}}</a>
                {% endif %}
            </td>
            <th scope="col"><a class="btn btn-outline-danger" href="{% url 'finances:finances_delete' reg.pk %}" role="button">&#9249;</a></th>
        </tr>
        {% endfor %}
    </table>
    <h2>Movimientos NO facturables</h2>

    <table class="project-table">
        <thead>
            <tr>
                <th scope="col">
                    {% if '?order_by=payee' in request.get_full_path %}
                    <a href="{% url 'finances:finances_month' month|date:'Y' month|date:'m' %}?order_by=-payee">
                    {% else %}
                    <a href="{% url 'finances:finances_month' month|date:'Y' month|date:'m' %}?order_by=payee">
                    {% endif %}
                        Proveedor
                    </a>
                </th>
                <th scope="col">
                    {% if '?order_by=-creation_date' in request.get_full_path %}
                    <a href="{% url 'finances:finances_month' month|date:'Y' month|date:'m' %}">
                    {% else %}
                    <a href="{% url 'finances:finances_month' month|date:'Y' month|date:'m' %}?order_by=-creation_date">
                    {% endif %}
                        Día
                    </a>
                </th>
                <th scope="col">Descripción</th>
                <th scope="col">
                    {% if '?order_by=amount' in request.get_full_path %}
                    <a href="{% url 'finances:finances_month' month|date:'Y' month|date:'m' %}?order_by=-amount">
                    {% else %}
                    <a href="{% url 'finances:finances_month' month|date:'Y' month|date:'m' %}?order_by=amount">
                    {% endif %}
                        Monto
                    </a>
                </th>
                <th scope="col">Pago</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        {% for reg in no_invoice %}
        <tr {% if reg.amount < 0 %}
        class="negative"
        {% endif %}>
            <td scope="col">{{ reg.payee }}</td>
            <td scope="col">{{ reg.creation_date|date:"d" }}</td>
            {% if reg.description|wordcount > 10 %}
            <td scope="col" title="{{ reg.description }}">
                    {{ reg.description|truncatewords:'10' }}
            </td>
            {% else %}
            <td scope="col">{{ reg.description }}</td>
            {% endif %}
            <td scope="col">${{ reg.amount|stringformat:"6.2f" }}</td>
            <td scope="col">
                {% if reg.payment %}
                    &#9745;    
                {% else %}
                    &#9744;
                {% endif %}
            <th scope="col"><a class="btn btn-outline-danger" href="{% url 'finances:finances_delete' reg.pk %}" role="button">&#9249;</a></th>
        </tr>
        {% endfor %}
    </table>
</div>

{% url 'finances:finances_month' previous_month|date:'Y' previous_month|date:'m' as prev_url %}
{% url 'finances:finances_month' next_month|date:'Y' next_month|date:'m' as next_url %}

<table class="project-table">
    <tr>
        <td colspan="2">
        {% if previous_month %}
        <a class="button" 
        href="{{prev_url}}{% if request.GET.responsable %}?responsable={{ request.GET.responsable }}{%endif%}">
            Año: {{ previous_month|date:'Y' }} Mes: {{ previous_month|date:'m' }}</a>
        {% endif %}
        </td>
        <td colspan="2">
        {% if next_month %}
        <a class="button" href="{{next_url}}{% if request.GET.responsable %}?responsable={{ request.GET.responsable }}{%endif%}">
        Año: {{ next_month|date:'Y' }} Mes: {{ next_month|date:'m' }}
        </a>
        {% endif %}
        </td>
    </tr>
</table>




{% endblock %}