{% extends '__base.html' %}

{% block title %}
    Borrar movimiento
{% endblock title %}


{% block finances_menu %}
<ul>
    <li><a href="{% url 'finances:finances_home' %}">Movimientos</a></li>
    <li><a href="{% url 'finances:order_list' %}">OC's</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'finances:finances_resume' %}">Resumen</a></li>
    <li><a href="{% url 'finances:attendance_form' %}">Asistencia</a></li>
    <li><a href="{% url 'finances:workerstime_list' %}">Horas-proyecto</a></li> 
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<h1>¿Estas seguro de borrar el siguiente movimiento?</h1>
<ul>
    <li>ID: {{movement.id}}</li>
    <li>PROVEEDOR: {{movement.payee}}</li>
    <li>MONTO: $ {{movement.amount|stringformat:"2.2f"}}</li>
    <li>DESCRIPCIÓN: {{movement.description}}</li>
</ul>
<form method='POST'>
    {% csrf_token %}
    <input class="button" type="submit" value="BORRAR">
</form>

{% endblock content %}

{% block scripts %}
{% endblock %}