{% extends '__base.html' %}

{% block title %}
    Detalle de proyecto
{% endblock title %}


{% block finances_menu %}
<ul>
    <li><a href="{% url 'finances:finances_home' %}">Movimientos</a></li>
    <li><a href="{% url 'finances:order_list' %}">OC's</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'finances:finances_resume' %}">Resumen</a></li>
    <li><a href="{% url 'finances:attendance_form' %}">Asistencia</a></li>
    <li><a href="{% url 'finances:workerstime_list' %}">Horas-proyecto</a></li> 
    {% endif %}
</ul>
{% endblock %}

{% block content %}
{% load static %}

<h2>{{ order.name }}</h2>

<div class="responsive-two-column-grid">
    <div>
        <ul>
            <li><b>Proyecto:</b>{{order.activity.name}}</li>
            <li><b>Actividad: </b>{{order.activity.name}}</li>
            <li><b>proveedor</b>{{order.supplier}}</li>
            <li><b>Estado: </b>{{order.get_status_display|title}}</li>
            <li><b>Total: </b>${{ order.total|floatformat:'2g' }}</li>
        </ul>
    </div>
    <div>
        <div>
        <b>Solicitado por: </b>{{ order.request_by }}
        </div>
        <div>
            <b>Descripcion: </b>{{ order.description}}
        </div>
    </div>
</div>

{% endblock content %}