{% extends '__base.html' %}

{% block title %}
    Lista de ordenes de compra
{% endblock title %}

{% block finances_menu %}
<ul>
    <li><a href="{% url 'finances:finances_home' %}">Movimientos</a></li>
    <li><a href="{% url 'finances:order_list' %}">OC's</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'finances:finances_resume' %}">Resumen</a></li>
    <li><a href="{% url 'finances:attendance_form' %}">Asistencia</a></li>
    <li><a href="{% url 'finances:workerstime_list' %}">Horas-proyecto</a></li> 
    {% endif %}
</ul>
{% endblock %}

{% block content %}
{% load static %}

{% url 'finances:order_create' as url_all %}
{% url 'finances:order_create' as url_my %}

<a class='button' href="{% url 'finances:order_create' %}">Nueva OC</a>
{% if request.GET.terminadas %}
<a class='button' href="?">Mostrar en proceso</a>
{% else %}
<a class='button' href="?terminadas=True">Mostrar terminadas</a>
{% endif %}

<table class="project-table">
    <thead class="table">
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">FECHA</th>
            <th scope="col">PROYECTO</th>
            <th scope="col">PROVEEDOR</th>
            <th scope="col">ESTADO</th>
            <th scope="col">TOTAL</th>
        </tr>
    </thead>
    {% for order in orders %}
    <tr>
        <th scope="col">
            <a href="{% url 'finances:order_detail' order.pk %}">
                <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" /></a>
            <a href="{% url 'finances:order_update' order.pk %}">
                <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/></a>
             {{ order.name }}
        </th>
        <td scope="col">{{ order.creation_date|date:'Y-m-d' }}</td>
        <td scope="col">
            {% if order.activity.project.cc_number %}
            CC-INX-{{ order.activity.project.cc_number }}
            {% else %}
            ¡SIN PROYECTO!
            {% endif  %}</td>
        <td scope="col">{{ order.supplier|title }}</td>
        <td scope="col">
            {{ order.get_status_display|title }}
            {% if order.status < 6 %}
            <a href="{% url 'finances:order_complete' order.pk %}">
                <spam> &#x26c4; </spam></a>
                {% comment %} <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/></a> {% endcomment %}
            {% endif %}
        </td>
        <td scope="col" class="proj-table-total">
            ${{ order.total|floatformat:'2g' }}
        </td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    {% if page_obj.has_previous %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page=1">&laquo; primera</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.previous_page_number }}">anterior</a>
    {% else %}
    <a class='button' href="?page=1">&laquo; primera</a>
    <a class='button' href="?page={{ page_obj.previous_page_number }}">anterior</a>
    {% endif %}
    {% endif %}
    
    <span>pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
    {% if page_obj.has_next %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.next_page_number }}">siguiente</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% else %}
        <a class='button' href="?page={{ page_obj.next_page_number }}">siguiente</a>
        <a class='button' href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% endif %}
    {% endif %}
</div>



{% endblock content %}