{% extends '__base.html' %}
{% load finance_extra %}

{% block title %}
    Lista de asistencia
{% endblock title %}

{% block finances_menu %}
<ul>
    <li><a href="{% url 'finances:finances_home' %}">Movimientos</a></li>
    <li><a href="{% url 'finances:order_list' %}">OC's</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'finances:finances_resume' %}">Resumen</a></li>
    <li><a href="{% url 'finances:attendance_form' %}">Asistencia</a></li>
    <li><a href="{% url 'finances:workerstime_list' %}">Horas-proyecto</a></li> 
    {% endif %}
</ul>
{% endblock %}

{% block content %}

{% load static %}
<h2>
    {{ proyecto }}
</h2>
{% if request.GET.nospace %}
    <span><a class="button" href="?">Con espacios</a></span>
{% else %}
    <span><a class="button" href="?nospace=True">Sin espacios</a></span>
{% endif %}

<h5>
    Mano de obra
</h5>

    <table class="project-table">
        <thead>
            <tr>
                <th scope="col">
                    Nombre
                </th>
                {% for each_day in days %}
                <th scope="col" class="colincl">
                    <a href="{% url 'projects:report_dayarchive' each_day|date:'Y' each_day|date:'b' each_day|date:'d' %}">
                        {{ each_day|date:'Y-b-d' }}
                    </a>
                </th>
                {% endfor %}
                <th scope="col" class="colincl">
                    TOTAL
                </th>
                {% if perms.finances.change_movement %}
                <th scope="col" class="colincl">
                    COSTO
                </th>
                {% endif %}
            </tr>
        </thead>
        <tr>
            <th scope="row" colspan="{{table_col}}">
                HORAS EN HORARIO NORMAL
            </th>
            <th scope="row" class="proj-table-total">
                {{ total_horas_normal|floatformat }}
            </th>
            {% if perms.finances.change_movement %}
            <th scope="row" class="proj-table-total">
                ${{ total_costo_normal|floatformat:'2g' }}
            </th>
            {% endif %}
        </tr>
        {% for user in calendar_normal %}
        <tr>
            <th scope="row">{{user.user.last_name}} {{user.user.first_name}}</th>
            {% for day in user.hours %}
                {% with user.hours|last as last %}
                    {% if day == last %}
                        {% if perms.finances.change_movement %}
                        <td scope="row" class="proj-table-total">${{day|floatformat:'2g'}}</td>
                        {% endif %}
                    {% elif day > 0 %}
                        <td scope="row" class="proj-table-total">{{day|floatformat}}</td>
                    {% else %}
                        <td scope="row"> - </td>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </tr>
        {% endfor %}
        {% if calendar_extra %}
        <tr>
            <th scope="row" colspan="{{table_col}}">
                HORAS EN TIEMPO EXTRA
            </th>
            <th scope="row" class="proj-table-total">
                {{ total_horas_extra|floatformat }} 
            </th>
            {% if perms.finances.change_movement %}
            <th scope="row" class="proj-table-total">
                 ${{ total_costo_extra|floatformat:'2g' }}
            </th>
            {% endif %}
        </tr>
        {% for user in calendar_extra %}
        <tr>
            <th scope="row">{{user.user.last_name}} {{user.user.first_name}}</th>
            {% for day in user.hours %}
                {% with user.hours|last as last %}
                    {% if day == last %}
                        {% if perms.finances.change_movement %}
                        <td scope="row" class="proj-table-total">${{day|floatformat:'2g'}}</td>
                        {% endif %}
                    {% elif day > 0 %}
                        <td scope="row"  class="proj-table-total">{{day|floatformat}}</td>
                    {% else %}
                        <td scope="row"> - </td>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </tr>
        {% endfor %}
        {% endif %}
        <tr>
            <th scope="row" colspan="{{table_col}}">
                HORAS DE LABOR REAL
            </th>
            {% if table_col == 0 %}
                <th scope="row"></th>
            {% endif %}
            <th scope="row" class="proj-table-total">
                {{ total_horas|floatformat }} 
            </th>
            {% if perms.finances.change_movement %}
                <th scope="row" class="proj-table-total">
                    ${{ total_costo|floatformat:'2g' }}
                </th>
            {% endif %}
        </tr>
        {% if perms.finances.change_movement %}
            <tr>
                <th scope="row" colspan="{{table_col}}">
                    MANO DE OBRA PROYECTADO
                </th>
                {% if table_col == 0 %}
                    <th scope="row">
                    </th>
                {% endif %}
                {% if perms.finances.change_movement %}
                    {% if table_col != 0 %}
                        <th scope="row"></th>
                    {% endif %}
                    <th scope="row" class="proj-table-total">
                        ${{ proyecto.labour_cost|floatformat:'2g' }}
                    </th>
                {% endif %}
            </tr>
        {% endif %}
        <tr>
            <th scope="row" colspan="{{table_col}}">
                PORCENTAJE UTILIZADO
            </th>
            {% if table_col == 0 %}
                <th scope="row"></th>
            {% endif %}
            {% if perms.finances.change_movement %}
                {% if table_col != 0 %}
                    <th scope="row">
                    </th>
                {% endif %}
            {% endif %}
                <th scope="row" class="proj-table-total">
                    {{ balance.labour|floatformat }}%
                </th>
        </tr>
        <tr>
            <th scope="row" colspan="{{table_col}}">
                PORCENTAJE DISPONIBLE
            </th>
            {% if table_col == 0 %}
                <th scope="row"></th>
            {% endif %}
            {% if perms.finances.change_movement %}
                {% if table_col != 0 %}
                    <th scope="row">
                    </th>
                {% endif %}
            {% endif %}
            <th scope="row" class="proj-table-total">
                {{ balance.mlabour|floatformat }}%
            </th>
        </tr>
    </table>

<h2>
    Ordenes de compra
</h2>

<table class="project-table">
    <thead class="table">
        <tr>
            <th scope="col">FECHA</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">PROVEEDOR</th>
            <th scope="col">ESTADO</th>
            <th scope="col">TOTAL</th>
        </tr>
    </thead>
    {% for order in ordenes %}
    <tr>
        <th scope="col">
             {{ order.name }}
        </th>
        <td scope="col">{{ order.creation_date|date:'Y-m-d' }}</td>
        <td scope="col">{{ order.description }}</td>
        <td scope="col">{{ order.supplier|title }}</td>
        <td scope="col">{{ order.get_status_display|title }}</td>
        <td scope="col" class="proj-table-total">
            ${{ order.total|floatformat:'2g' }}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th scope="col" colspan="5">
            TOTAL DE OC'S
        </th>
        <td scope="col" class="proj-table-total">
            ${{ ordenes_total|floatformat:'2g' }}
        </td>
    </tr>
    <tr>
        <th scope="col" colspan="5">
            COSTO DE SUMINISTRO PROYECTADO
        </th>
        <td scope="col" class="proj-table-total">
            ${{ proyecto.supply_cost|floatformat:'2g' }}
        </td>
    </tr>
    <tr>
        <th scope="col" colspan="5">
            PORCENTAJE UTILIZADO
        </th>
        <td scope="col" class="proj-table-total">
            {{ balance.orders|floatformat }} %
        </td>
    </tr>
    <tr>
        <th scope="col" colspan="5">
            PORCENTAJE DISPONIBLE
        </th>
        <td scope="col" class="proj-table-total">
            {{ balance.morders|floatformat }} %
        </td>
    </tr>
</table>

<div class='thumbnail'>
    {% for photo in photos %}
        <div>
            {% if photo.pictures %}
                <img src="{{photo.thumbnail.url}}">
            {% else %}
                <img src = "{% static 'icons/icon-file.svg' %}" alt="file-icon"/>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock content %}