{% extends '__base.html' %}
{% load finance_extra %}

{% block title %}
Resumen de viaticos
{% endblock title %}

{% block finances_menu %}
<ul>
    <li><a href="{% url 'finances:finances_home' %}">Movimientos</a></li>
    <li><a href="{% url 'finances:order_list' %}">OC's</a></li>
    {% if perms.finances.change_movement %}
    <li><a href="{% url 'finances:finances_resume' %}">Resumen</a></li>
    <li><a href="{% url 'finances:attendance_form' %}">Asistencia</a></li>
    <li><a href="{% url 'finances:workerstime_list' %}">Horas-proyecto</a></li> 
    {% endif %}
</ul>
{% endblock %}

{% block content %}
{% load static %}
<div class="col col-lg-9">
    <h2>
        Resumen de viaticos
    </h2>
    <p>
        {% for each in resumen %}
        <p> 
            <a href="{% url 'finances:finances_lastmonth' %}?responsable={{each.pk}}">
                <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" /></a>
            {{each.last_name}}, {{each.first_name}}: $ {{each.total|stringformat:"2.2f"}}
        </p>
        {% endfor %}
    </p>
{% endblock %}