:root {
    /* CSS HEX */
    --e-global-color-primary: #BAFF39;
    --e-global-color-secondary: #383838;
    --e-global-color-text: #6E6E6E;
    --e-global-color-accent: #61CE70;
    --e-global-color-f57dbdc: #BAFF39;
    --e-global-color-ccf4557: #383838;
    --cadet-gray: #6E6E6E;
    --battleship-gray: #61CE70;
    --dim-gray: #BAFF39;
    --taupe: #BAFF39;
    --bistre: #383838;
}
/* || Header and Main Navigation */

body {
    max-width: 1000px;
    font: normal 12px/16px "Eina", Helvetica, Arial, sans-serif;
    background-color: var(--e-global-color-ccf4557);
    color: var(--battleship-gray);
}
div.content {
  margin-left: 156px;
  padding: 1px 8px;
  height: 1000px;
}
.header {
    display: flex;
    width:100%;
    color: #a0a0a0;
    background-color: #a0a0a0;
    text-align: center;
    padding: 4px;
}
.topnav {
    overflow: hidden;
    background-color: var(--e-global-color-secondary);
}
.topnav a {
    float: left;
    display: block;
    color: var(--e-global-color-text);
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: var(--e-global-color-accent);
    color: black;
}
h3 {
    font: bold normal 24px/32px "Eina", Helvetica, Arial, sans-serif;
    color: #BAFF39;
    margin: 16px 0;
}
h4 {
    font: bold normal 24px/32px "Eina", Helvetica, Arial, sans-serif;
    color: #BAFF39;
    margin: 12px 0;
}
h5 {
    font-size: medium;
}
.footer {
    background-color: var(--e-global-color-ccf4557);
    text-align: left;
    padding: 10px;
    margin-left: 156px;
}
.sitemap {
    overflow: hidden;
    background-color: var(--e-global-color-secondary);
    display: flex;
}
.sitemap ul {
    list-style: none;
}
.sitemap a {
    float: left;
    color: var(--e-global-color-text);
    text-align: right;
    padding: 7px 8px;
    text-decoration: none;
}
.sitemap a:hover {
    background-color: var(--e-global-color-accent);
    color: black;
}
/* || Table Styles */

/* 
table, th, td {
    border-bottom: 2px solid;
    border-collapse: collapse;
    color: var(--battleship-gray);
    padding: 4px 4px;
} */
.compact-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
    border-bottom: 2px solid;
    border-collapse: collapse;
}
.compact-table thead tr {
    background-color: #009879;
    color: #333333;
    text-align: center;
    text-emphasis-color: white;
}

.compact-table tbody tr {
    border-bottom: 1px solid #292929;
    color: var(--battleship-gray);
}

.compact-table tbody tr:nth-of-type(even) {
    background-color: #333333;
}

.compact-table tbody tr:last-of-type {
    border-bottom: 2px solid #00a887;
}

.compact-table tbody tr:hover {
    background-color:#003026;
    color: #00f1c1;
}

.compact-table td{
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.compact-table.subtitle{
    background-color: #313131;
    color: #acacac;
    text-align: center;
}

.project-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 250px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
    border-bottom: 2px solid;
    border-collapse: collapse;
}
.project-table thead tr {
    background-color: #009879;
    color: #333333;
    text-align: center;
    text-emphasis-color: white;
}

.project-table tbody tr {
    border-bottom: 1px solid #292929;
    color: var(--battleship-gray);
}

.project-table tbody tr:nth-of-type(even) {
    background-color: #333333;
}

.project-table tbody tr:last-of-type {
    border-bottom: 2px solid #00a887;
}

.project-table tbody tr.negative {
    color: #f10000;
}

.project-table tbody tr:hover {
    background-color:#003026;
    color: #00f1c1;
}

.project-table tbody td{
    padding-left: 10px;
}

.proj-table-total{
    text-align: right;
}

.resp-table {
    width: 100%;
    display: table;
}
.resp-table-header{
    display:table-header-group;
    background-color: #3f3f3f;
    font-weight: bold;
    font-size: 15px;
}
.table-header-cell{
    display:table-cell;
    padding: 2px;
    text-align: center;
}
.resp-table-body{
    display: table-row-group;
}
.resp-table-row{
    display:table-row;
}
.resp-table-cal-row{
    display:table-row;
}
.resp-table-cal-row ul{
    list-style: none;
    padding-left: 4px;
    list-style-position: outside ;
}
.table-body-cell{
    display:table-cell;
}
.table-body-cal-cell{
    display:table-cell;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.table-body-cal-cell:hover{
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    display:table-cell;
}
.resp-table-row:hover{
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.table-body-id-cell{
    display:table-cell;
    text-align: center;
}
.table-body-action-cell{
    display:table-cell;
    text-align: center;
}
.resp-table-footer{
    display:table-footer-group;
    background-color: gray;
    font-weight: bold;
    font-size: 13;
}
.table-footer-cell{
    display: table-cell;
    padding: 3px;
    text-align: justify;
    border-bottom: 1px solid black;
}


.print-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
    border-bottom: 2px solid;
    border-collapse: collapse;
}
.print-table thead tr {
    background-color: #009879;
    color: #333333;
    text-align: center;
    text-emphasis-color: white;
}

.print-table tbody tr {
    border-bottom: 1px solid #292929;
    color: var(--battleship-gray);
}

.print-table tbody tr:nth-of-type(even) {
    background-color: #333333;
}

.print-table tbody tr:last-of-type {
    border-bottom: 2px solid #00a887;
}

.print-table td{
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.print-table.subtitle{
    background-color: #313131;
    color: #acacac;
    text-align: center;
}

.print-table-first-col{
    width: 200px;
}
.print-table-second-col{
    width: 400px;
}
.print-table-tird-col{
    width: 300px;
}
.negative {
    color: #f10000;
}

.colincl {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(200deg);
}


/* || Calendar Styles */

.calendar{
    border: 1px solid;
    color: var(--battleship-gray);
    padding: 4px 4px;
}
.calendar-content{
    border: 1px solid;
    color: var(--battleship-gray);
    padding: 4px 4px;
    text-align: left;
}
.calendar-content li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* || Button and form Styles */

.button {
    background-color: #4d606b;
    border: none;
    border-radius: 4px;
    color: rgb(223, 223, 223);
    padding: 2px 8px;
    font: bold normal 10px/12px "Eina", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    cursor: pointer;
}
.button:hover {
    background-color: #086299;
}
.button-active {
    background-color: #119600;
    border: none;
    border-radius: 4px;
    color: rgb(223, 223, 223);
    padding: 2px 8px;
    font: bold normal 10px/12px "Eina", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    cursor: pointer;
}
.button-active:hover {
    background-color: #008035;
}
.action-buttons{
    display:flexbox;
    width:100%;
    background-color: #3f3f3f;
    padding: 4px;
    margin-top: 10px;
}

form{
    max-width: 400px;
}

input{
    background-color: #a1a1a1;
    padding: 6px 10px;
    margin: 8px 0;
    border-radius: 8px;
}

.table-inpu input{
    background-color: #a1a1a1;
    padding: 3px 5px;
    margin: 4px 0;
    border-radius: 4px;
}

input[type=checkbox]{
    display: inline;
    width:20%;
    padding: 4px 4px;
    grid-template-columns: 1em auto;
    gap:0.5em;
}

label[for=id_payment]:before{
    content:"\a";
    white-space: pre;
}

input[type=text], input[type=date], input[type=number] {
    width:100%;
    box-sizing: border-box;
    border-radius: 8px;
}

input[type=button], input[type=submit], input[type=reset] {
    width:100%;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
}

.searchbar {
    width:150px;
}

label[for=id_responsable]{
    display: block;
}
textarea{
    width:100%;
    box-sizing: border-box;
    background-color: #a1a1a1;
    padding: 18px 18px;
    margin: 8px 0px;
    border-radius: 8px;
}
select {
    width: 100%;
    padding: 16px 20px;
    border-radius: 8px;
    background-color: #a1a1a1;
}

.picture-checkbox{
    display:none;
    position: relative;
    width: 20px;
    height: 20px;
    top: 30px;
    left: 0px;
}

.pics-select{
    left:10px;
}
.thumbnail form{
    width: 100%;
}
.thumbnail form div{
    width: 100%;
}
.thumbnail input[type=checkbox]{
    position: relative;
    top:0px;
    left:20px;
    width:fit-content;
    height: fit-content;
    padding: 0px;
    grid-template-columns: 1em auto;
    gap:0.1em;
}

/* || Image Styles */
.thumbnail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 200px;
}

.thumbnail img{
    display: inline-block;
    height: 80px;
    padding: 3px;
}

/* || responsive Styles */
.responsive-two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 12px;
    box-shadow: #00f1c1 1.95px 1.95px 2.6px;
}

/* columns */
.responsive-two-column-grid > * {
    padding:1rem;
}

.responsive-two-column-grid ul{
    padding-left: 0.5rem;
    list-style-type: none;
}

.responsive-two-column-grid ul li{
    padding-left: 0.5rem;
}

.responsive-two-column-grid a{
    text-decoration: none;
    color:#00a887
}

.responsive-two-column-grid b{
    color: rgb(133, 133, 133);
}

.responsive-three-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 12px;
    box-shadow: #00f1c1 1.95px 1.95px 2.6px;
    padding:0.7rem;
}

/* || Modal Styles */
.nostyle ul li {
    list-style-type: none;
    align-items: center;
}

/* || Progress Bar Styles */
#progress {
    width: 100px;   
    border: 2px solid rgb(16, 49, 0);
    position: relative;
    padding: 2px;
   }
   
#percent {
    position: absolute;   
    left: 105%;
}

#bar {
    height: 10px;
    background-color: rgb(0, 27, 145);
    width: 10%;
}

.searchlist ul li{
    list-style: none;
    padding-left: 4px;
    list-style-position: outside ;
}

/* Copy */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 10px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #696969;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: rgb(43, 43, 43);
    padding: 8px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a:not(:first-child) {
      display: none;
      text-align: center;
      float: none;
    }
    .sidebar ul {
        display: none;
    }
    div.content {margin-left: 0;}
    .sidebar form {
        display: none;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: right;
    }
    .responsive-two-column-grid {
        display:block;
    }
    .responsive-three-column-grid {
        display:block;
    }
    .sidebar.responsive {
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #696969;
        position: fixed;
        height: 100%;
        overflow: auto;
    }
    .sidebar.responsive a {
        display: block;
        color: rgb(43, 43, 43);
        padding: 16px;
        text-decoration: none;
        text-align: left;
      }
      
      /* Active/current link */
      .sidebar.responsive a.active {
        background-color: #04AA6D;
        color: white;
      }
      
      /* Links on mouse-over */
      .sidebar.responsive a:hover:not(.active) {
        background-color: #555;
        color: white;
      }
      .sidebar.responsive ul {
          display: block;
          text-align: left;
          list-style: none;
          padding-left: 50px;
      }
      .sidebar.responsive form {
          display: inline-block;
      }
  }
  /* tablet breakpoint
  @media (min-width:768px) {
      .responsive-two-column-grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
      }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  } */