{% extends '__base.html' %}

{% block title %}
    Reporte de Actividades
{% endblock title %}

{% block projects_menu %}
<ul>
    <li><a href="{% url 'projects:project_list' %}">Proyectos</a></li>
    <li><a href="{% url 'projects:activity_list' %}">Actividades</a></li>
    <li><a href="{% url 'projects:requirement_list' %}?status=0">Requerimientos</a></li>
    <li><a href="{% url 'projects:report_list' %}">Reportes</a></li>
</ul>
{% endblock%}

{% block content %}

<a class='button' href="{% url 'projects:activity_create' %}">Nueva actividad</a>
<a class='button' href="?status=1">Activas</a>
<a class='button' href="{% url 'projects:activity_list' %}">Lista extendida</a>
<a class='button' href="?type=1">Solo planeadas</a>
<a class='button' href="?type=0">Solo adicionales</a>
<a class='button' href="?status=0">Todos</a>
<a class='button' href="{% url 'projects:activity_report' %}">Reporte</a>
{% load static %}

<table class="compact-table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Responsable</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dias sin avance</th>
        </tr>
    </thead>
    {% for activity in activity_list %}
        <tr>
            <td scope="col">
                <a href="{% url 'projects:activity_detail' activity.pk %}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" /></a>
                {{activity.pk|stringformat:"03d"}} 
            </td>
            <td scope="col">{{activity.incharge.first_name}} {{activity.incharge.last_name}}</td>
            <td scope="col">{{activity.name}}</td>
            <td scope="col">{{ activity.days_since_last_report }}</td>
        </tr>
    {% endfor %}
</table>

<div class="pagination">
    {% if page_obj.has_previous %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page=1">&laquo; primera</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.previous_page_number }}">anterior</a>
    {% else %}
    <a class='button' href="?page=1">&laquo; primera</a>
    <a class='button' href="?page={{ page_obj.previous_page_number }}">anterior</a>
    {% endif %}
    {% endif %}
    
    <span>pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
    {% if page_obj.has_next %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.next_page_number }}">siguiente</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% else %}
        <a class='button' href="?page={{ page_obj.next_page_number }}">siguiente</a>
        <a class='button' href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}