{% extends '__base.html' %}

{% block title %}
    Lista de Actividades
{% endblock title %}

{% block projects_menu %}
<ul>
    <li><a href="{% url 'projects:project_list' %}">Proyectos</a></li>
    <li><a href="{% url 'projects:activity_list' %}">Actividades</a></li>
    <li><a href="{% url 'projects:requirement_list' %}?status=0">Requerimientos</a></li>
    <li><a href="{% url 'projects:report_list' %}">Reportes</a></li>
</ul>
{% endblock%}

{% block content %}

{% load static %}

<table class="compact-table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Inicio</th>
            <th scope="col">Fin</th>
            <th scope="col">Responsable</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
        </tr>
    </thead>
    {% for project in project_list %}
        <tr><td class="compact-table subtitle" colspan='6'>{{ project|upper }}</td><tr>
        {% for activity in project.activity_set.all %}
            <tr>
                <td scope="col">
                    <a href="{% url 'projects:activity_detail' activity.pk %}">
                        <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" /></a>
                    {{activity.pk|stringformat:"03d"}} 
                </td>
                <td scope="col">{{activity.date|date:'d-m-Y'}}</td>
                <td scope="col">{{activity.end_date|date:'d-m-Y'}}</td>
                <td scope="col">{{activity.incharge.first_name}} {{activity.incharge.last_name}}</td>
                <td scope="col">{{activity.name}}</td>
                <td scope="col">{{activity.description}}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>

{% endblock content %}