{% extends '__base.html' %}

{% block title %}
    Lista de Actividades
{% endblock title %}

{% block projects_menu %}
<ul>
    <li><a href="{% url 'projects:project_list' %}">Proyectos</a></li>
    <li><a href="{% url 'projects:activity_list' %}">Actividades</a></li>
    <li><a href="{% url 'projects:requirement_list' %}?status=0">Requerimientos</a></li>
    <li><a href="{% url 'projects:report_list' %}">Reportes</a></li>
</ul>
{% endblock%}

{% block content %}
{% load static %}
<a class='button' href="{% url 'projects:activity_create' %}">Nueva actividad</a>
<a class='button' href="?status=1">Activas</a>
<a class='button' href="{% url 'projects:activity_compactlist' %}">Lista compacta</a>
<a class='button' href="?type=1">Solo planeadas</a>
<a class='button' href="?type=0">Solo adicionales</a>
<a class='button' href="?status=0">Todos</a>
{% for activity in activity_list %}
<div class="responsive-two-column-grid">
    <div>
        <ul>
            <li>
                <b>ID / Inicio: </b>
                {{activity.pk|stringformat:"03d"}} / {{activity.date|date:'d-m-Y'}}
                <a href="{% url 'projects:activity_detail' activity.id %}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" /></a>
                <a href="{% url 'projects:activity_update' activity.id %}">
                    <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/></a>
                </a>
                <a href="{% url 'projects:activity_delete' activity.id %}">
                    <img src = "{% static 'icons/remove.png' %}" alt="remove-icon" width="15" /></a>
            </li>
            <li>
                <b>Proyecto: </b>
                {% if activity.project %}
                    {{activity.project|truncatewords:'4'}}
                    <a href="{% url 'projects:project_detail' activity.project.pk %}">
                        <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" />
                    </a>
                {% endif %}
            </li>
            <li>
                <b>Responsable: </b>
                {% if activity.incharge %}
                {{activity.incharge.first_name}} {{activity.incharge.last_name}}
                <a href="{% url 'profiles:user_detail' activity.incharge.pk %}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" />
                </a>
                {% endif %}
            </li>
            <li><b>Fin: </b>{{activity.end_date|date:'d-m-Y'}}</li>
            <li><b>Tipo: </b>{{activity.get_type_display}}</li>
            <li><b>Estado: </b>{{activity.get_status_display}}</li>
        </ul>
    </div>
    <div>
        <b>Nombre: </b>{{activity.name}}</br>
        <b>Descripción: </b>{{ activity.description}}</br>
        <div class='thumbnail'>
        {% for report in activity.report_set.all%}
            {% for photo in report.photo_set.all %}
                    <a href="{{photo.pictures.url}}">
                        {% if photo.thumbnail %}
                            <img src="{{photo.thumbnail.url}}">
                        {% else %}
                            <img src = "{% static 'icons/icon-file.svg' %}" alt="file-icon"/>
                        {% endif %}
                    </a>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

    
</table>

<div class="pagination">
    {% if page_obj.has_previous %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page=1">&laquo; primera</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.previous_page_number }}">anterior</a>
    {% else %}
    <a class='button' href="?page=1">&laquo; primera</a>
    <a class='button' href="?page={{ page_obj.previous_page_number }}">anterior</a>
    {% endif %}
    {% endif %}
    
    <span>pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
    {% if page_obj.has_next %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.next_page_number }}">siguiente</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% else %}
        <a class='button' href="?page={{ page_obj.next_page_number }}">siguiente</a>
        <a class='button' href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}