<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>Imprimir actividades</title>
</head>
<body>
    {% regroup activity_list by project as project_list %}

    <table class="print-table">
        {% for project in project_list %}
            <tr><td class="print-table subtitle" colspan='6'>
                Proyecto: <b>{{ project.grouper }}</b></td><tr>
            {% for activity in project.list %}
                <tr>
                    <td scope="col" class="print-table-first-col">
                        Actividad:</br><b>{{activity.name}}</b>
                        </td>
                    <td scope="col" class="print-table-second-col">
                        Descripcion: {{activity.description}}
                    </td>
                    <td scope="col" class="print-table-tird-col">
                        Reponsable: <l>{{activity.incharge.first_name}} {{activity.incharge.last_name}}</l>
                    </td>
                </tr>
                {% for r in activity.report_set.all %}
                <tr>
                    <td scope="col" class="print-table-first-col">
                        Fecha: {{ r.date }}</br>
                        Trabajadores: 
                        <ul>
                        {% for w in r.workers.all %}
                            <li>{{ w.last_name }} {{ w.first_name }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td scope="col" class="print-table-second-col">
                        {{ r.description }}
                    </td>
                    <td scope="col" class="print-table-tird-col">  
                    <div class='thumbnail'>
                        {% for photo in r.photo_set.all %}
                            <a href="{{photo.pictures.url}}">
                                {% if photo.thumbnail %}
                            <img src="{{photo.thumbnail.url}}">
                        {% else %}
                            <img src = "{% static 'icons/icon-file.svg' %}" alt="file-icon"/>
                        {% endif %}
                            </a>
                        {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>
</body>
</html>