{% load static %}

<div class='thumbnail'>
    {% for photo in report.photo_set.all %}
        <div>
            <a href="{{photo.pictures.url}}">
                {% if photo.thumbnail %}
                    <img src="{{photo.thumbnail.url}}">
                {% else %}
                    <img src = "{% static 'icons/icon-file.svg' %}" alt="file-icon"/>
                {% endif %}
            </a>
        </div>
    {% endfor %}
</div>