{% extends '__base.html' %}

{% block title %}
    Detalle de proyecto
{% endblock title %}

{% block projects_menu %}
<ul>
    <li><a href="{% url 'projects:project_list' %}">Proyectos</a></li>
    <li><a href="{% url 'projects:activity_list' %}">Actividades</a></li>
    <li><a href="{% url 'projects:requirement_list' %}?status=0">Requerimientos</a></li>
    <li><a href="{% url 'projects:report_list' %}">Reportes</a></li>
</ul>
{% endblock%}

{% block content %}
{% load static %}
{% comment %} <h2>CC-INX-{{project.cc_number|stringformat:"03d"}}.- {{project.name}}</h2>
<a class='button' href="{% url 'projects:project_update' project.pk %}">EDITAR</a>
<a class='button' href="{% url 'projects:report_update' project.pk %}">BORRAR</a>
<a class='button' href="{% url 'projects:activity_create'%}?project={{project.pk}}">CREAR ACTIVIDAD</a>
<a class='button' href="{% url 'finances:projectattendance_report' project.pk%}">REPORTE</a>

<div class="responsive-two-column-grid">
    <div>
        <ul>
            <li><b>Fecha de inicio: </b>{{project.date|date:'d-m-Y'}}</li>
            <li><b>Fecha final: </b>{{project.end_date|date:'d-m-Y'}}</li>
            <li><b>Cliente: </b>{{project.client|title}}</li>
            <li><b>Responsable: </b>{{project.manager.last_name|title}}, {{project.manager.first_name|title}}</li>
            <li><b>Estado: </b>{{project.get_status_display|title}}</li>
            

            {% if perms.finances.change_movement %}
            {% if project.labour_cost %}
            <li><b>Mano de obra: </b>{{ project.labour_cost }}</li>
            <li><b>Suministros: </b>{{ project.supply_cost }}</li>
            <li><b>Cambiar costos del proyecto</b><a class="button" href="{% url 'projects:projectcost_update' project.pk %}"> Cambiar </a>
            </li>
            {% else %}
            <li><b>Definir proyecciones </b></li>
            <li><a class="button" href={% url 'projects:projectcost_update' project.pk %}><b>Crear</b></a></li>
            {% endif %}
        {% endif %}
            
            
            <li>
                <b>REGISTROS:</b>
                <ul>
                    {% for activity in project.activity_set.all %}
                        <li>
                            <h2><a href="{% url 'projects:activity_detail' activity.pk %}">
                                Actividad: {{ activity.name }}
                            </a></h2>
                        </li>
                        <ul>
                            {% for report in activity.report_set.all%}
                                <li>
                                    <a href="{% url 'projects:report_detail' report.pk %}">{{ report.date }}.- {{ report.name }}</a>, 
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <b>Fotos: </b>

        

        <div class='thumbnail'>
            <form action="{% url 'finances:projectattendance_report' project.pk %}" method="post">
            {% csrf_token %}
            {% for activity in project.activity_set.all %}
                {% for report in activity.report_set.all%}
                    {% for photo in report.photo_set.all %}
                        <span>
                            <input class="picture-checkbox" type="checkbox" name="photo" value="{{photo.pk}}">
                            <a href="{{photo.pictures.url}}">
                                {% if photo.thumbnail %}
                                <img class="pics-select" src="{{photo.thumbnail.url}}">
                            {% else %}
                                <img src = "{% static 'icons/icon-file.svg' %}" alt="file-icon"/>
                            {% endif %}
                            </a>
                        </span>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            <input class="button" type="submit" value="Crear reporte">
            </form>
        </div>
    </div>
</div>
</br> {% endcomment %}

<div class="responsive-two-column-grid">
    <div>
        <h2>CC-INX-{{project.cc_number|stringformat:"03d"}}</br>
            {{project.name}}
        {% if total_proy_progress %}
            [ {{total_proy_progress}}% ]
        {% endif %}
        </h2>
        {% if total_proy_progress %}
        <div id="progress">
            <div id="bar" style="width: {{ total_proy_progress }}%;"></div>
        </div>
        {% endif %}
        <ul>
            <li><b>Fecha de inicio: </b>{{project.date|date:'d-m-Y'}}</li>
            <li><b>Fecha final: </b>{{project.end_date|date:'d-m-Y'}}</li>
            <li><b>Cliente: </b>{{project.client|title}}</li>
            <li><b>Responsable: </b>{{project.manager.last_name|title}}, {{project.manager.first_name|title}}</li>
            <li><b>Estado: </b>{{project.get_status_display|title}}</li>
            

            {% if perms.finances.change_movement %}
                    {% if project.labour_cost %}
                    <li><b>Mano de obra: </b>{{ project.labour_cost }}</li>
                    <li><b>Suministros: </b>{{ project.supply_cost }}</li>
                    <li><b>Cambiar costos del proyecto</b><a class="button" href="{% url 'projects:projectcost_update' project.pk %}"> Cambiar </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
    <div class="nostyle">
        <ul>
        <li><a class='button' href="{% url 'projects:project_update' project.pk %}">EDITAR PROYECTO</a></li>
        <li><a class='button' href="{% url 'projects:report_update' project.pk %}">BORRAR RPOYECTO</a></li>
        <li><a class='button' href="{% url 'projects:activity_create'%}?project={{project.pk}}">CREAR ACTIVIDAD</a></li>
        <li><a class='button' href="{% url 'finances:projectattendance_report' project.pk%}">REPORTE DE PROYECTO</a></li>
        {% if perms.finances.change_movement %}
            {% if not project.labour_cost %}
                <li><a class='button' href="{% url 'projects:projectcost_update' project.pk %}">DEFINIR PROYECCIONES</a></li>
            {% endif %}
        {% endif %}
        </ul>
    </div>
</div>

<div class="nostyle">
<ul>
    {% for activity in activities %}
        <li>
            <div class="responsive-two-column-grid">
                <div>
                    <h2><a href="{% url 'projects:activity_detail' activity.pk %}">
                        Actividad {{activity.id|stringformat:"03d"}}: {{activity.name}}
                        {% if activity.total_activity_progress %}
                        [{{activity.total_activity_progress}}%]
                        {% endif %}
                    </a></h2>
                    {% if activity.total_activity_progress %}
                    <div id="progress">
                        <div id="bar" style="width: {{ activity.total_activity_progress }}%;"></div>
                    </div>
                    {% endif %}
                    <b>Estado: </b>{{activity.status}}</br>
                    {% if activity.manager %}
                    <b>Responsable: </b>{{activity.manager.last_name|title}}, {{activity.manager.first_name|title}}</br>
                    {% endif %}
                    <b>Numero de reportes: </b>{{activity.reports.count}}</br>
                    <ul>
                    {% for report in activity.reports%}
                        <li>
                            <a href="{% url 'projects:report_detail' report.pk %}">{{ report.date }}.- {{ report.name }}</a>, 
                        </li>
                    {% endfor %}
                    </ul>

                    <table class="project-table">
                        <thead>
                            <tr>
                                <th width="15%">Fecha</th>
                                <th width="55%">Descripción</th>
                                <th width="15%">Cantidad</th>
                                <th width="15%">Unidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in activity.reports%}
                                {% for material in report.materials %}
                                <tr>
                                    <td>{{report.date|date:'d/m/y'}}</td>
                                    <td>{{material.description}}</td>
                                    <td>{{material.amount}}</td>
                                    <td>{{material.unit}}</td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
                <div>
                    <b>Fotos: </b>
                    <div class='thumbnail'>
                        {% for report in activity.r %}
                            {% for photo in report.photo_set.all %}
                                <span>
                                    <a href="{{photo.pictures.url}}">
                                        {% if photo.thumbnail %}
                                        <img class="pics-select" src="{{photo.thumbnail.url}}">
                                    {% else %}
                                        <img src = "{% static 'icons/icon-file.svg' %}" alt="file-icon"/>
                                    {% endif %}
                                    </a>
                                </span>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
</div>

        

        
{% endblock content %}