{% extends '__base.html' %}

{% block title %}
    Lista de proyectos
{% endblock title %}

{% block projects_menu %}
<ul>
    <li><a href="{% url 'projects:project_list' %}">Proyectos</a></li>
    <li><a href="{% url 'projects:activity_list' %}">Actividades</a></li>
    <li><a href="{% url 'projects:requirement_list' %}?status=0">Requerimientos</a></li>
    <li><a href="{% url 'projects:report_list' %}">Reportes</a></li>
</ul>
{% endblock%}

{% block content %}
<a class='button' href="{% url 'projects:project_create' %}">Nuevo proyecto</a>
<a class='button' href="{% url 'projects:project_list' %}">Todos</a>
<a class='button' href="{% url 'projects:project_list' %}?status=0">Solo activos</a>
<a class='button' href="{% url 'projects:project_list' %}?status=1">Solo en cierre documental</a>
<a class='button' href="{% url 'projects:project_list' %}?status=2">Solo pausados</a>
<a class='button' href="{% url 'projects:project_list' %}?status=3">Solo cerrados</a>
<a class='button' href="{% url 'projects:project_list' %}?status=4">Solo cancelados</a>
<table class="project-table">
    <thead>
        <tr>
            <th scope="col">CCINX</th>
            <th scope="col">Inicio</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cliente</th>
            <th scope="col">Administrador</th>
            <th scope="col">Estado</th>
            <th scope="col">Tipo</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    {% load static %}
    {% for project in project_list %}
        <tr>
            <th scope="row">{{project.cc_number|stringformat:"03d"}}</th>
            <td scope="col">{{project.date|date:'d-m-Y'}}</td>
            <td scope="col">
                {{project.name|truncatewords:'7'}}
                {% if project.total_proy_progress %}
                    [ {{project.total_proy_progress}}% ]
                {% endif %}
            </td>
            <td scope="col">{{ project.client|truncatewords:'3' }}</td>
            <td scope="col">{{project.manager.first_name}}</td>
            <td scope="col">{{project.get_status_display}}</td>
            <td scope="col">{{project.get_type_display}}</td>
            <td scope="col">
                <a href="{% url 'projects:project_detail' project.id %}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" />
                </a>
                <a href="{% url 'projects:project_update' project.id %}">
                    <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/>
                </a>
                <a href="{% url 'projects:project_delete' project.id %}">
                    <img src = "{% static 'icons/icons-delete.svg' %}" alt="delete-icon"/>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
<div class="pagination">
    {% if page_obj.has_previous %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page=1">&laquo; primera</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.previous_page_number }}">anterior</a>
    {% else %}
    <a class='button' href="?page=1">&laquo; primera</a>
    <a class='button' href="?page={{ page_obj.previous_page_number }}">anterior</a>
    {% endif %}
    {% endif %}
    
    <span>pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
    {% if page_obj.has_next %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.next_page_number }}">siguiente</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% else %}
        <a class='button' href="?page={{ page_obj.next_page_number }}">siguiente</a>
        <a class='button' href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}