{% extends '__base.html' %}

{% block title %}
    Borrar proyecto
{% endblock title %}

{% block projects_menu %}
<ul>
    <li><a href="{% url 'projects:project_list' %}">Proyectos</a></li>
    <li><a href="{% url 'projects:activity_list' %}">Actividades</a></li>
    <li><a href="{% url 'projects:requirement_list' %}?status=0">Requerimientos</a></li>
    <li><a href="{% url 'projects:report_list' %}">Reportes</a></li>
</ul>
{% endblock%}

{% block content %}
{% load static %}
<h2>¿BORRAR PROYECTO CC-INX-{{project.cc_number|stringformat:"03d"}}.- {{project.name}}?</h2>

<div class="responsive-two-column-grid">
    <div>
        <ul>
            <li><b>Fecha de inicio: </b>{{project.date|date:'d-m-Y'}}</li>
            <li><b>Fecha final: </b>{{project.end_date|date:'d-m-Y'}}</li>
            <li><b>Cliente: </b>{{project.client|title}}</li>
            <li><b>Responsable: </b>{{project.manager.last_name|title}}, {{project.manager.first_name|title}}</li>
            <li><b>Estado: </b>{{project.get_status_display|title}}</li>
            

            {% if perms.finances.change_movement %}
            {% if project.labour_cost %}
            <li><b>Mano de obra: </b>{{ project.labour_cost }}</li>
            <li><b>Suministros: </b>{{ project.supply_cost }}</li>
            <li><b>Cambiar costos del proyecto</b><a class="button" href="{% url 'projects:projectcost_update' project.pk %}"> Cambiar </a>
            </li>
            {% else %}
            <li><b>Definir costos por hora</li>
            <li><b><a class="button" href={% url 'projects:projectcost_update' project.pk %}>Crear</a></li>
            {% endif %}
        {% endif %}
            <li><b>REGISTROS:</b>
            <ul>
            {% for activity in project.activity_set.all %}
                <li>
                    <a href="{% url 'projects:activity_detail' activity.pk %}">
                    Actividad: {{ activity.name }}
                    </a>
                </li>
                <ul>
                    {% for report in activity.report_set.all%}
                        <li>
                            <a href="{% url 'projects:report_detail' report.pk %}">{{ report.date }}.- {{ report.name }}</a>, 
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
            </ul>
            </li>
        </ul>
    </div>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Borar">
    </form>
</div>
</br>

{% endblock content %}