{% extends '__base.html' %}

{% block title %}
    Borrar reporte
{% endblock title %}

{% block projects_menu %}
<ul>
    <li><a href="{% url 'projects:project_list' %}">Proyectos</a></li>
    <li><a href="{% url 'projects:activity_list' %}">Actividades</a></li>
    <li><a href="{% url 'projects:requirement_list' %}?status=0">Requerimientos</a></li>
    <li><a href="{% url 'projects:report_list' %}">Reportes</a></li>
</ul>
{% endblock%}

{% block content %}
{% load static %}
<h2>¿Seguro de borrar el reporte {{report.id}} de la actividad "{{report.activity.name}}"?</h2>
<div class="responsive-two-column-grid">
    <div>
        <ul>
            <li><b>ID / Fecha: </b>{{report.pk|stringformat:"04d"}} / {{report.date|date:'d-m-Y'}}</li>
            <li><b>Titulo: </b>{{report.name}}</li>
            <li>
                <b>Responsable: </b>
                {{report.responsable.last_name}} {{report.responsable.first_name}}
            </li>
            <li>
                <b>Proyecto: </b>
                {% if report.activity.project %}
                {{report.activity.project}}
                {% endif %}
            </li>
            <li>
                <b>Actividad: </b>
                {% if report.activity %}
                {{report.activity.name}}
                {% endif %}
            </li>
            {% if report.usertimereport_set.all %}
            <li><b>TRABAJADORES / Tiempo</b>
                <ul>
                    {% for urt in report.usertimereport_set.all %}
                    <li>
                        {{ urt.user.last_name }} {{ urt.user.first_name }} / {{ urt.duration }} hrs
                    </li>
                    {% endfor %}
                </ul>
            {% elif report.workers.all %}
            <li><b>TRABAJADORES:</b>
                <ul>
                    {% for worker in report.workers.all %}
                    <li>
                        {{ worker.last_name }} {{ worker.first_name }}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% if report.reportprogress_set.all %}
            <li><b>AVANCES:</b>
                <ul>
                    {% for progress in report.reportprogress_set.all %}
                    <li>
                        {{ progress.amount }} {{ progress.activityprogress.unit }} de {{ progress.activityprogress.name }}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
        </ul>

    </div>
    <div>
        <b>Descripción: </b>
        {{report.description|linebreaks}}
            <b>Duración: </b>{{report.duration}}
            <b>Tiempo muerto: </b>{{report.deadtime}} <b>min</b>  {{report.get_deadtimereason_display}}<br>
        <div class='thumbnail'>
            {% for photo in report.photo_set.all %}
                <div>
                    <a href="{{photo.pictures.url}}">
                        {% if photo.thumbnail %}
                            <img src="{{photo.thumbnail.url}}">
                        {% else %}
                            <img src = "{% static 'icons/icon-file.svg' %}" alt="file-icon"/>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Borar">
</form>

{% endblock content %}