{% extends '__base.html' %}

{% block title %}
    Confirmar borrado
{% endblock title %}

{% block projects_menu %}
<ul>
    <li><a href="{% url 'projects:project_list' %}">Proyectos</a></li>
    <li><a href="{% url 'projects:activity_list' %}">Actividades</a></li>
    <li><a href="{% url 'projects:requirement_list' %}?status=0">Requerimientos</a></li>
    <li><a href="{% url 'projects:report_list' %}">Reportes</a></li>
</ul>
{% endblock%}

{% block content %}

<p>
    Seguro de borrar el progreso: 
    {{reportprogress.activityprogress.name}} de {{reportprogress.amount}} en el reporte {{reportprogress.report.name }}</p>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Borar">
</form>

{% endblock content %}