{% extends '__base.html' %}

{% block title %}
    Lista de reportes
{% endblock title %}

{% block projects_menu %}
<ul>
    <li><a href="{% url 'projects:project_list' %}">Proyectos</a></li>
    <li><a href="{% url 'projects:activity_list' %}">Actividades</a></li>
    <li><a href="{% url 'projects:requirement_list' %}?status=0">Requerimientos</a></li>
    <li><a href="{% url 'projects:report_list' %}">Reportes</a></li>
</ul>
{% endblock%}

{% block content %}
<a class='button' href="{% url 'projects:report_create' %}">Nuevo reporte</a>
<a class='button' href="{% url 'projects:report_lastday' %}">Ultimo día</a>
<a class='button' href="{% url 'projects:report_list' %}?mios=True">Mis reportes</a>
<a class='button' href="{% url 'projects:report_list' %}?noact=True">Sin actividad</a>
<a class='button' href="{% url 'projects:report_list' %}?adicional=True">Adicionales</a>
<a class='button' href="{% url 'projects:report_list' %}?oficina=True">Oficina</a>
{% load static %}
{% for report in report_list %}
<div class="responsive-two-column-grid">
    <div>
        <ul>
            <li><b>ID / Fecha: </b>{{report.pk|stringformat:"04d"}} / {{report.date|date:'d-m-Y'}}</li>
            <li><b>Titulo: </b>
                {{report.name}}
                <a href="{% url 'projects:report_update' report.pk %}">
                    <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/>
                </a>
                <a href="{% url 'projects:report_detail' report.pk %}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" />
                </a>
                </a>
                <a href="{% url 'projects:report_delete' report.pk %}">
                    <img src = "{% static 'icons/remove.png' %}" alt="remove-icon" width="15" />
                </a>
            </li>
            <li>
                <b>Responsable: </b>{{report.responsable.last_name}} {{report.responsable.first_name}}
                <a href="{% url 'profiles:user_detail' report.responsable.pk %}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" />
                </a>
            </li>
            <li>
                <b>Proyecto: </b>{% if report.activity.project %}{{report.activity.project}}
                <a href="{% url 'projects:project_detail' report.activity.project.pk%}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" />
                </a>
                {% endif %}
            </li>
            <li>
                <b>Actividad: </b>
                {% if report.activity %}
                {{report.activity.name}}
                <a href="{% url 'projects:activity_detail' report.activity.pk %}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" />
                </a>
                {% endif %}
            </li>
            {% if report.reportprogress_set.all %}
            <li><b>Avance: </b>
                {% for progress in report.reportprogress_set.all %}
                    {{ progress.amount|floatformat }} de {{ progress.activityprogress.amount|floatformat }} {{ progress.activityprogress.unit }}, 
                {% endfor %}
            </li>
            {% endif %}
            {% if report.usertimereport_set.all %}
            <li><b>TRABAJADORES / Tiempo</b>
                <ul>
                    {% for urt in report.usertimereport_set.all %}
                    <li>
                        {{ urt.user.last_name }} {{ urt.user.first_name }} / {{ urt.duration }} hrs
                        <a href="{% url 'projects:usertimereport_update' urt.pk %}">
                            <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% elif report.workers.all %}
            <li><b>TRABAJADORES:</b>
                <ul>
                    {% for worker in report.workers.all %}
                    <li>
                        {{ worker.last_name }} {{ worker.first_name }} 
                        <a href="{% url 'profiles:user_detail' worker.pk %}">
                            <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" />
                        </a> 
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            <li>
                {% if report.reportmaterials_set.all %}
                <table class="project-table">
                    <thead>
                        <tr>
                            <th width="60%">Descripción</th>
                            <th width="20%">Cantidad</th>
                            <th width="20%">Unidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for material in report.reportmaterials_set.all %}
                        <tr>
                            <td>{{material.description}}</td>
                            <td>{{material.amount}}</td>
                            <td>{{material.unit}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </li>
        </ul>
        
    </div>
    <div>
        <b>Descripción: </b>
        {{report.description|linebreaks}}
            <b>Duración: </b>{{report.duration}}
            <b>Tiempo muerto: </b>{{report.deadtime}} <b>min</b>  {{report.get_deadtimereason_display}}<br>
        <div class='thumbnail'>
            {% for photo in report.photo_set.all %}
                <div>
                    <a href="{{photo.pictures.url}}">
                        {% if photo.thumbnail %}
                            <img src="{{photo.thumbnail.url}}">
                        {% else %}
                            <img src = "{% static 'icons/icon-file.svg' %}" alt="file-icon"/>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
    {% if page_obj.has_previous %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page=1">&laquo; primera</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.previous_page_number }}">anterior</a>
    {% else %}
    <a class='button' href="?page=1">&laquo; primera</a>
    <a class='button' href="?page={{ page_obj.previous_page_number }}">anterior</a>
    {% endif %}
    {% endif %}
    
    <span>pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
    {% if page_obj.has_next %}
    {% if request.GET.status %}
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.next_page_number }}">siguiente</a>
    <a class='button' href="?status={{request.GET.status}}&page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% else %}
        <a class='button' href="?page={{ page_obj.next_page_number }}">siguiente</a>
        <a class='button' href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}