<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>Imprimir Reportes</title>
</head>

<body>
    <table class="print-table">
        <thead>
            <tr>
                <th>Informacion</th>
                <th>Descripcion</th>
                <th>Fotos</th>
            </tr>
        </thead>
        <tbody>
            {% for r in reports %}
            <tr>
                <td scope="col" class="print-table-first-col">
                    Fecha: {{ r.date }}</br>
                    Cliente: {{ r.activity.project.client.name }}</br>
                    Proyecto:
                    {% if r.activity.project %}
                    CC-INX-{{r.activity.project.cc_number }} {{ r.activity.project.name }}
                    {% else %}
                    Sin proyecto
                    {% endif %}
                    </br>
                    Actividad: {{ r.activity.name }}</br>
                    Trabajadores: 
                    <ul>
                    {% for w in r.workers.all %}
                        <li>{{ w.last_name }} {{ w.first_name }}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td scope="col" class="print-table-second-col">
                    {{ r.description }}
                </td>
                <td scope="col" class="print-table-tird-col">  
                <div class='thumbnail'>
                    {% for photo in r.photo_set.all %}
                        <a href="{{photo.pictures.url}}">
                            {% if photo.thumbnail %}
                        <img src="{{photo.thumbnail.url}}">
                    {% else %}
                        <img src = "{% static 'icons/icon-file.svg' %}" alt="file-icon"/>
                    {% endif %}
                        </a>
                    {% endfor %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
```