{% extends '__base.html' %}

{% block title %}
    Lista de requerimeintos
{% endblock title %}

{% block projects_menu %}
<ul>
    <li><a href="{% url 'projects:project_list' %}">Proyectos</a></li>
    <li><a href="{% url 'projects:activity_list' %}">Actividades</a></li>
    <li><a href="{% url 'projects:requirement_list' %}?status=0">Requerimientos</a></li>
    <li><a href="{% url 'projects:report_list' %}">Reportes</a></li>
</ul>
{% endblock%}

{% block content %}
{% load static %}

{% with s=request.GET.status%}
<a class="button" href="{% url 'projects:requirement_create' %}">Nuevo requerimiento</a>
<a class="button{% if request.GET.mios %}-active{%endif%}" href="{% url 'projects:requirement_list' %}?mios=True">Hacia mi</a>
<a class="button{% if '0' in s %}-active{%endif%}" href="{% url 'projects:requirement_list' %}?status=0">Pendientes</a>
<a class="button{% if '1' in s %}-active{%endif%}" href="{% url 'projects:requirement_list' %}?status=1">Completados</a>
<a class="button{% if '2' in s %}-active{%endif%}" href="{% url 'projects:requirement_list' %}?status=2">Cancelados</a>
{% endwith %}

<h2>Lista de requerimientos</h2>

{% comment %} <table class="project-table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Qty</th>
            <th scope="col">Unidad</th>
            <th scope="col">Actividad</th>
            <th scope="col">De</th>
            {% if request.GET.mios %}
            <th scope="col">Estado</th>
            {% else %}
            <th scope="col">Para</th>
            {% endif %}
            <th scope="col">Soli</th>
            <th scope="col">Entr</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    {% for requirement in requirements_list %}
        <tr>
            <td scope="col">{{requirement.name|truncatewords:'7'}}</td>
            <td scope="col">{{requirement.description}}</td>
            <td scope="col">{{requirement.amount}}</td>
            <td scope="col">{{requirement.unit}}</td>
            <td scope="col">CC-INX-{{requirement.activity.project.cc_number}} | {{requirement.activity.name}}</td>
            <td scope="col">{{requirement.by.last_name|title}} {{requirement.by.first_name|title}}</td>
            {% if request.GET.mios %}
            <th scope="col">{{requirement.get_status_display}}</th>
            {% else %}
            <td scope="col">{{requirement.to.last_name|title}} {{requirement.to.first_name|title}}</td>
            {% endif %}
            <td scope="col">{{requirement.request_date|date:'d M'}}</td>
            <td scope="col">{{requirement.supply_date|date:'d M'}}</td>
            <td scope="col">
                <a href="{% url 'projects:requirement_update' requirement.pk %}" title="Editar requerimiento">
                    <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/></a>
                {% if '0' in request.GET.status %}
                <a href="{% url 'projects:requirement_complete' requirement.pk %}" title="Completar requerimiento">
                    <img src = "{% static 'icons/icons-complete.png' %}" alt="detail-icon" width="15" /></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table> {% endcomment %}

{% for req in requirements_list %}
<div class="responsive-three-column-grid">
    <div>
        <strong>Nombre: </strong> {{req.name}} <br>
        <strong>Solicitado el: </strong> {{req.request_date|date:'d/m/Y'}}<br>
        <strong>Actividad: </strong> {{req.activity.name}} <br>
        <strong>Proyecto: </strong>CC-INX-{{req.activity.project.cc_number}}: {{req.activity.project.name}} <br>
    </div>
    <div>
        <strong>Unidad: </strong> {{req.unit}} <br>
        <strong>Cantidad: </strong> {{req.amount}} <br>
        <strong>Fecha de entrega: </strong> {{req.supply_date|date:'d/m/Y'}} <br>
        <strong>Descripción: </strong> {{req.description}} <br>
    </div>
    <div>
        <strong>Por: </strong>{{req.by.first_name|title}} {{req.by.last_name|title}}<br>
        <strong>Responsable: </strong> {{req.to.last_name|title}} {{req.to.first_name|title}} <br>
        <strong>Estado: </strong> {{req.get_status_display}} <br>
        <a href="{% url 'projects:requirement_update' req.pk %}" title="Editar requerimiento">
            <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon" width="30"/></a>
        {% if '0' in request.GET.status %}
        &nbsp &nbsp
        <a href="{% url 'projects:requirement_complete' req.pk %}" title="Completar requerimiento">
            <img src = "{% static 'icons/icons-complete.png' %}" alt="detail-icon" width="30" /></a>
        {% endif %}

    </div>
</div>
{% endfor %}

{% endblock content %}