{% extends '__base.html' %}

{% block title %}
    Detalle de reporte
{% endblock title %}

{% block projects_menu %}
<ul>
    <li><a href="{% url 'projects:project_list' %}">Proyectos</a></li>
    <li><a href="{% url 'projects:activity_list' %}">Actividades</a></li>
    <li><a href="{% url 'projects:requirement_list' %}?status=0">Requerimientos</a></li>
    <li><a href="{% url 'projects:report_list' %}">Reportes</a></li>
</ul>
{% endblock%}

{% block content %}
{% load static %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Guardar">
</form>

{% endblock %}