{% extends '__base.html' %}

{% block title %}
    Detalle de reporte
{% endblock title %}

{% block projects_menu %}
<ul>
    <li><a href="{% url 'projects:project_list' %}">Proyectos</a></li>
    <li><a href="{% url 'projects:activity_list' %}">Actividades</a></li>
    <li><a href="{% url 'projects:requirement_list' %}?status=0">Requerimientos</a></li>
    <li><a href="{% url 'projects:report_list' %}">Reportes</a></li>
</ul>
{% endblock%}

{% block content %}
{% load static %}
<div class="responsive-two-column-grid">
    <div>
        <ul>
            <li><b>ID / Fecha: </b>{{report.pk|stringformat:"04d"}} / {{report.date|date:'d-m-Y'}}</li>
            <li><b>Titulo: </b>{{report.name}}</li>
            <li>
                <b>Responsable: </b>
                {{report.responsable.last_name}} {{report.responsable.first_name}}
                <a href="{% url 'profiles:user_detail' report.responsable.pk %}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" />
                </a>
            </li>
            <li>
                <b>Proyecto: </b>
                {% if report.activity.project %}
                {{report.activity.project}}
                <a href="{% url 'projects:project_detail' report.activity.project.pk%}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" />
                </a>
                {% endif %}
            </li>
            <li>
                <b>Actividad: </b>
                {% if report.activity %}
                {{report.activity.name}}
                <a href="{% url 'projects:activity_detail' report.activity.pk %}">
                    <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" />
                </a>
                {% endif %}
            </li>
            <li>
                {{current_utr}}
            </li>
            {% if report.usertimereport_set.all %}
            <li><b>TRABAJADORES / Tiempo</b>
                <ul>
                    {% for urt in report.usertimereport_set.all %}
                    <li>
                        {{ urt.user.last_name }} {{ urt.user.first_name }} / 
                        {% if urt.pk == current_utr %}
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form.duration}}
                            <input type="submit" value="Modificar">
                        </form>
                        {% else %}
                        {{ urt.duration }} hrs
                        <a href="{% url 'projects:usertimereport_update' urt.pk %}">
                            <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/>
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            {% elif report.workers.all %}
            <li><b>TRABAJADORES:</b>
                <ul>
                    {% for worker in report.workers.all %}
                    <li>
                        {{ worker.last_name }} {{ worker.first_name }}
                        <a href="{% url 'profiles:user_detail' worker.pk %}">
                            <img src = "{% static 'icons/icons-link.png' %}" alt="edit-icon" width="15" />
                        </a> 
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% if report.reportprogress_set.all %}
            <li><b>AVANCES:</b>
                <ul>
                    {% for progress in report.reportprogress_set.all %}
                    <li>
                        {{ progress.amount }} {{ progress.activityprogress.unit }} de {{ progress.activityprogress.name }}
                        <a href="{% url 'projects:reportprogress_update' progress.id %}">
                            <img src = "{% static 'icons/icons-edit.svg' %}" alt="edit-icon"/>
                        </a>
                        <a href="{% url 'projects:reportprogress_delete' progress.id %}">
                            <img src = "{% static 'icons/icons-delete.svg' %}" alt="delete-icon"/>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            <li>
                <b>ACCIONES: </b>
                <a class='button' href="{% url 'projects:report_update' report.pk %}">EDITAR</a>
            </li>
        </ul>
        <h2>Materiales utilizados</h2>

        <table class="project-table">
            <thead>
                <tr>
                    <th width="60%">Descripción</th>
                    <th width="20%">Cantidad</th>
                    <th width="20%">Unidad</th>
                </tr>
            </thead>
            <tbody>
                {% for material in report.reportmaterials_set.all %}
                <tr>
                    <td>{{material.description}}</td>
                    <td>{{material.amount}}</td>
                    <td>{{material.unit}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="button" href="{% url 'projects:reportmaterial_create' report.pk %}">Agregar materiales</a>

                
    </div>
    <div>
        <b>Descripción: </b>
        {{report.description|linebreaks}}
            <b>Duración: </b>{{report.duration}}
            <b>Tiempo muerto: </b>{{report.deadtime}} <b>min</b>  {{report.get_deadtimereason_display}}<br>
        <div class='thumbnail'>
            {% for photo in report.photo_set.all %}
                <div>
                    <a href="{{photo.pictures.url}}">
                        {% if photo.thumbnail %}
                            <img src="{{photo.thumbnail.url}}">
                        {% else %}
                            <img src = "{% static 'icons/icon-file.svg' %}" alt="file-icon"/>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
<br>

{% endblock content %}