<ul>
    <li><a href="{% url 'sales:opportunity_list' %}">Oportunidades</a></li>
    <li><a href="{% url 'sales:report_list' %}">Reportes</a></li>
    <li><a href="{% url 'sales:report_create' %}">Crear Reporte</a></li>
</ul>