{% extends '__base.html' %}
{% load static %}
{% block title %} Formulario de oportunidad {% endblock %}

{% block sales_menu %}
{% include 'sales/locnavbar.html' %}
{% endblock %}

{% block content %}

<h3>Formulario de nueva oportunidad</h3>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar">
</form>

{% endblock %}