{% extends '__base.html' %}

{%block title %}Detalle de Oportunidad{% endblock %}

{% block sales_menu %}
{% include 'sales/locnavbar.html' %}
{% endblock %}

{% block content %}

{% load static %}
<h3>Detalle de la oportunidad</h3>

<table class="project-table">
    <tr>
        <td scope="col">Nombre</td>
        <td scope="col">{{ opportunity.name|title}}</td>
    </tr>
    <tr>
        <td scope="col">Responsable</td>
        <td scope="col">
            {{ opportunity.responsable.first_name|title }} {{ report.responsable.last_name|title }}
        </td>
    </tr>
    <tr>
        <td scope="col">Estado</td>
        <td scope="col">{{ opportunity.status }}</td>
    </tr>
    <tr>
        <td scope="col">Fecha de apertura</td>
        <td scope="col">{{ opportunity.open_date|date:'Y-m-d' }}</td>
    </tr>
    <tr>
        <td scope="col">Cliente</td>
        <td scope="col">{{ opportunity.client.name|title }}</td>
    </tr>
    <tr>
        <td scope="col">Contactos</td>
        <td scope="col">
            {% for contact in opportunity.contacts.all %}
                {{ contact.name|title }} {{ contact.last_name|title }}<br>
            {% endfor %}
        </td>
    <tr>
        <td scope="col">Descripción</td>
        <td scope="col">{{ opportunity.description }}</td>
    </tr>
    <tr>
        <td scope="col">Monto</td>
        <td scope="col">{{ opportunity.amount|floatformat:'2g' }} {{opportunity.currency}}</td>
    </tr>
    <tr>
        <td scope="col">Probabilidad</td>
        <td scope="col">{{ opportunity.win_probability }}%</td>
    </tr>
    <tr>
        <td scope="col">Fecha de cierre</td>
        <td scope="col">{{ opportunity.close_date|date:'Y-m-d' }}</td>
    </tr>
    <tr>
        <td scope="col">Razon del cierre</td>
        <td scope="col">{{ opportunity.close_reason }}</td>
    </tr> 
</table>

<a class="button" href="{% url 'sales:opportunity_list' %}">Volver al listado</a>
<a class="button" href="{% url 'sales:opportunity_delete' opportunity.id %}">Eliminar</a> 
<a class="button" href="{% url 'sales:opportunity_update' opportunity.id %}">Editar</a>

{% endblock %}