{% extends '__base.html' %}
{% load static %}

{% block title %}
    Lista de Oportunidades
{% endblock %}

{% block sales_menu %}
{% include 'sales/locnavbar.html' %}
{% endblock %}

{% block content %}
<h3>Lista de oportunidades</h3>

<a class="button" href="{% url 'sales:opportunity_create' %}">Nueva oportunidad</a>
<a class="button" href="{% url 'sales:opportunity_table' %}">Tabla de oportunidades</a>

<table class="project-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>responsable</th>
            <th>Estado</th>
            <th>Cliente</th>
        <tr>
    </thead>
    {% for opportunity in opportunity_list %}
    <tr>
        <td>
            <a href="{% url 'sales:opportunity_detail' pk=opportunity.pk %}">
                {{ opportunity.name }}
            </a>
        </td>
        <td>{{ opportunity.responsible }}</td>
        <td>{{ opportunity.get_status_display }}</td>
        <td>{{ opportunity.client }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}