{% extends '__base.html' %}
{% load static %}

{% block title %}
    Tabla de Oportunidades
{% endblock %}

{% block sales_menu %}
{% include 'sales/locnavbar.html' %}
{% endblock %}

{% block content %}
<h3>Tabla de oportunidades</h3>

<a class="button" href="{% url 'sales:opportunity_create' %}">Nueva oportunidad</a>
<a class="button" href="{% url 'sales:opportunity_list' %}">Lista de oportunidades</a>

<div class="card-group my-3">
    {% for offert in offerts_array %}
    <div class="card">
        <div class="card-header">
            {{ offert.status }}
        </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
            {% for opor in offert.offerts %}
                <li class="list-group-item">
                    <h6><a href="{% url 'sales:opportunity_detail' pk=opor.pk %}"  class="lead text-decoration-none">{{opor.name|title}}</a></h6>
                    <p>{{opor.client}}</p>
                    <h6>
                        {% if opor.status > 0 %}
                        <a href="{% url 'sales:status_update' opor.id opor.status|add:'-1' %}" class="btn btn-outline-secondary btn-sm"><</a>
                        {% endif %}
                        <small class="text-muted">OP-INX-{{opor.id|stringformat:"03d"}}</small>
                        {% if opor.status < 3 %}
                        <a href="{% url 'sales:status_update' opor.id opor.status|add:'1'  %}" class="btn btn-outline-secondary btn-sm">></a>
                        {% endif%}
                        {% if opor.status == 3 %}
                        
                        <a href="{% url 'sales:status_update' opor.id opor.status|add:'1'  %}" class="btn btn-outline-success btn-sm">G</a>
                        <a href="{% url 'sales:status_update' opor.id 5  %}" class="btn btn-outline-danger btn-sm">P</a>
                        {% endif%}
                    </h6>
                </li>
            {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}