{% extends '__base.html' %}

{%block title %}Detalle de reporte{% endblock %}

{% block content %}

<h3>Detalle de reporte de ventas</h3>

<table class="project-table">
    <tr>
        <td scope="col">Fecha</td>
        <td scope="col">{{ report.date|date:'Y-m-d' }}</td>
    </tr>
    <tr>
        <td scope="col">Responsable</td>
        <td scope="col">
            {{ report.responsable.first_name|title }} {{ report.responsable.last_name|title }}
        </td>
    </tr>
    <tr>
        <td scope="col">Nombre</td>
        <td scope="col">{{ report.name|title}}</td>
    </tr>
    <tr>
        <td scope="col">Descripción</td>
        <td scope="col">{{ report.description }}</td>
    </tr>
    <tr>
        <td>Tiempo dedicado</td>
        <td scope="col">
            <ul>
            {% for timeentry in report.timeentry_set.all %}
            <li>{{timeentry.entry_time }} en {{ timeentry.get_entry_type_display}}</li>
            {% endfor %}
            </ul>
        </td>
</table>

<a class="button" href="{% url 'sales:report_list' %}">Volver al listado</a>
<a class="button" href="{% url 'sales:report_delete' report.id %}">Eliminar</a> 

{% endblock %}