{% extends '__base.html' %}

{% block title %}Borrar reporte{% endblock %}

{% block sales_menu %}
{% endblock %}

{% block content %}
{% load static %}
    <h2>¿BORRAR REPORTE "{{ report.name }}"</h2>
    <form action="{% url 'sales:report_delete' report.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Borrar">
{% endblock %}

