{% extends '__base.html' %}
{% load static %}
{% block title %} Formulario de reporte de ventas {% endblock %}

{% block scripts %}
<script src="{% static 'js/sales_form.js' %}"></script>
{% endblock %}

{% block content %}
<h3>Formulario equipo de ventas</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar">
</form>

{% endblock %}