{% extends '__base.html' %}

{% load static %}

{% block title %}Lista de reporte de ventas{% endblock %}

{% block sales_menu %}
{% include 'sales/locnavbar.html' %}
{% endblock %}

{% block content %}

<h3>Reportes de equipo de ventas</h3>

<table class="project-table">
    <thead class="table">
        <tr>
            <th scope="col">FECHA</th>
            <th scope="col">RESPONSABLE</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">TIEMPOS</th>
        </tr>
    </thead>
    {% for report in report_list %}
    <tr>
        <th scope="col">
            <a href="{% url 'sales:report_detail' report.pk %}">
                <img src = "{% static 'icons/icons-link.png' %}" alt="detail-icon" width="15" />
            </a>
             {{ report.date|date:'Y-m-d' }}
        </th>
        <td scope="col">{{ report.responsable.last_name }} {{ report.responsable.first_name|slice:"1" }}.</td>
        <td scope="col">{{ report.name|title}}</td>
        <td scope="col">{{ report.description|truncatewords:'10' }}</td>
        <td scope="col">
            <ul>
            {% for timeentry in report.timeentry_set.all %}
            <li>{{timeentry.entry_time }} en {{ timeentry.get_entry_type_display}}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a class='button' href="?page=1">&laquo; primera</a>
        <a class='button' href="?page={{ page_obj.previous_page_number }}">anterior</a>
    {% endif %}
    
    <span>pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
    {% if page_obj.has_next %}
        <a class='button' href="?page={{ page_obj.next_page_number }}">siguiente</a>
        <a class='button' href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
    {% endif %}
</div>

{% endblock %}
