{% extends '__base.html' %}

{%block title %}Acceso{% endblock %}

{% block content %}
{% if form.errors %}
<p>incorrect credentials</p>
{% endif %}

<form method = "post" action="{% url 'profiles:user_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Entrar">
    <input type="hidden" name="next" value="{{ next }}">
</form>
{% endblock %}